<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!-- <h1>if Condition</h1>
        {% if age < 27 %}
            <h1>{{name}} gets married</h1>
        {% endif %} -->

        <!-- <h1>if - else Condition</h1>
        {% if age > 27 %}
            <h1>{{name}} gets married</h1>
        {% else %}
            <h1>{{name}} gets oldie </h1>
        {% endif %} -->


        <!-- <h1>elif conditions</h1>

        {% if age > 27 %}
            <h1>{{name}} is oldie</h1>
        {% elif age == 26 %}
            <h1>{{name}} gets married </h1>
        {% else %}
            <h1>{{name}} is dead as single!!!!</h1>

        {% endif %} -->

       <!-- <h1>for loop </h1>

         {% for i in name %}
            {{i}}
        {% endfor %}  -->


        {% for i in name %}
            <h1>{{i}}</h1>
        {% endfor %}

    </center>
</body>
</html>